extends ../layout

block content
    script(src="/javascripts/gjbus.js")
    section.container-fluid
        table.w3-table.w3-table-all
            tr
                th NO	
                th 정류장 ID	
                th 정류장
                th 다음 정류장	
                th 위도	
                th 경도     	
            each station,index in stations
                tr.bus_tr(data-id=station.BUSSTOP_ID)
                    td= station.STATION_NUM
                    td= station.BUSSTOP_ID
                    td= station.BUSSTOP_NAME
                    td= station.NEXT_BUSSTOP
                    td= station.LATITUDE
                    td= station.LONGITUDE

    hr    
    section#bustime.container-fluid
                
                
                